/** @format */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-default: #fa7f29;
  --color-second: #575757;
  --color-white: #fff;
  --color-body: #1a2841;
  --color-light: #e0e0e0;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--color-body);
}

#home .wrapper {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#home .left {
  width: 50%;
}

#home .left .action {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 100px;
  position: relative;
}

#home .left .action h6 {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-default);
}

#home .left .action a {
  background-color: var(--color-default);
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  padding: 20px;
  border-radius: 100px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
}

#home .left .action a:hover {
  background-color: var(--color-second);
}

#home .left .title {
  font-weight: 700;
  font-size: 72px;
}

#home .left .title .first {
  color: var(--color-default);
}

#home .left .title .second {
  color: var(--color-second);
}

#home .left .title .desc {
  font-weight: 500;
  font-size: 20px;
  color: var(--color-second);
}

#home .right {
  background-image: url("./images/home.jpeg");
  background-size: cover;
  width: 50%;
  border-radius: 100px;
  position: relative;
  filter: drop-shadow(22.2783px 74.2609px 215.356px rgba(161, 35, 35, 0.2));
}

#home .right .weather {
  background-color: var(--color-white);
  padding: 40px;
  width: fit-content;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

#home .right .weather .city {
  font-weight: 700;
  font-size: 36px;
  color: var(--color-second);
}

#home .right .weather .value {
  font-weight: 700;
  font-size: 128px;
  color: var(--color-second);
}

#home .right .weather span {
  font-weight: 700;
  font-size: 48.3294px;
  color: var(--color-second);
}

#home .right .weather .desc {
  font-weight: 400;
  font-size: 48.3921px;
  color: var(--color-second);
}

@media screen and (max-width: 1200px) {
  #home .left .title {
    font-size: 52px;
  }
}

@media screen and (max-width: 768px) {
  #home .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  #home .left {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
  }

  #home .left .action {
    margin-top: 10px;
  }

  #home .left .action h6 {
    font-size: 12px;
  }

  #home .left .action a {
    font-size: 12px;
  }

  #home .left .title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
  }

  #home .left .title .desc {
    font-size: 12px;
    text-align: center;
  }

  #home .right {
    width: 100%;
    border-radius: 100px;
  }

  #home .right .weather {
    position: relative;
    background-color: #fa7f29;
    opacity: 0.5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
