/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --color-primary: #fa7f29;
  --color-second: #0067ac;
  --color-white: #fff;
  --color-body: #1a2841;
  --color-light: #e0e0e0;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--color-body);
}

.current-info {
  display: flex;
  justify-content: space-between;
}

.date-container {
  font-weight: 400;
}

.date-container .time {
  font-size: 14px;
}

.date-container #am-pm {
  font-size: 14px;
  margin-left: 20px;
}

.date-container .date {
  font-size: 18px;
}

.place-container {
  text-align: end;
}

.place-container .time-zone {
  font-size: 14px;
  font-weight: 100;
  color: var(--color-primary);
}

.place-container .country {
  font-size: 18px;
  font-weight: 400;
}

.top-info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px 0;
}

.wind {
  display: flex;
  flex-direction: column;
  background-image: url("./images/background-2.jpg");
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
}

.wind .weather-item {
  display: flex;
  justify-content: space-between;
}

.sun {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  border: var(--color-primary) 1px solid;
  padding: 20px;
  border-radius: 10px;
}

.sun .weather-item {
  display: flex;
  justify-content: space-between;
}

.future-forecast {
  background: var(--color-white);
  padding: 25px;
  /* position: fixed; */
  bottom: 0;
  display: flex;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  border: var(--color-primary) 1px solid;
  border-radius: 10px;
  margin-bottom: 20px;
}

.today {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 15px;
  border-radius: 10px;
  background-image: url("./images/background-1.jpg");
  background-size: cover;
  gap: 20px;
}

.today .img {
  width: fit-content;
  background-color: var(--color-primary);
  opacity: 0.9;
  border-radius: 50%;
}

.today .day {
  padding: 5px 15px;
  background: var(--color-white);
  border-radius: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-primary);
}

.today .temp {
  padding: 2px;
  background-color: var(--color-primary);
  opacity: 0.9;
  color: var(--color-white);
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.future-forecast .weather-forecast {
  display: flex;
}

.weather-forecast .weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 10px;
  background: var(--color-light);
}

.weather-forecast .weather-forecast-item .day {
  padding: 5px 15px;
  background: var(--color-white);
  border-radius: 50px;
  text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
  font-weight: 100;
  font-size: 12px;
}

@media only screen and (max-width: 730px) {
  .container {
    padding: 20px;
  }

  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }

  .future-forecast .today .temp {
    font-size: 16px;
  }

  .date-container .time {
    font-size: 50px;
  }

  .date-container #am-pm {
    font-size: 20px;
  }

  .date-container .date {
    font-size: 20px;
  }

  .place-container {
    text-align: end;
    margin-top: 15px;
  }

  .place-container .time-zone {
    font-size: 20px;
  }

  .wind {
    padding: 12px;
  }

  .wind .weather-item {
    font-size: 14px;
  }

  .sun {
    padding: 12px;
  }

  .sun .weather-item {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1400px) {
  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-x: scroll;
  }
}
